@import url('/udacity-code-and-blog-project/CSS/mobile.css');
@import url('/udacity-code-and-blog-project/CSS/desktop.css');
@import url('/udacity-code-and-blog-project/CSS/post-card.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    background: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.blog-name { 
    color: #e63946;
}

.container{
    display: grid;
    height: 90vh;
}

.header {
    height: 50px;
    display: flex;
    padding: 16px;
    margin: 16px;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: 1.2em;
}

.main-page {
    text-decoration: none;
}

.footer-div{
    background-color: whitesmoke;
    padding: 15px 0px;
}

.created {
    margin: 0px 16px;
    font-size: large;
    text-align: justify;
}